::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #5b8715;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #5b8715;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #5b8715;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #5b8715;
}

body {
	height: 100%;
	

    font-family: 'Roboto', sans-serif;  
}

p {
    color: white;
    font-size: 0.8em;
    font-family: 'Roboto', sans-serif;
}




.container {
	height: 100%;
	display: block;
	position: absolute;
	
}

textarea:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

#inicio p {
    font-size: 1.2em;
}

.alert {
    width: 15px;
    height: 15px;
    border-radius: 100px;
    display: block;
    float: right;
    padding: 0px!important;
    font-family: 'Roboto', sans-serif;
}

.red {
    background: #ff0000;
}

.yellow {
    background: #e5df05;
}

.green {
    background: #5b8715;
}

.icon-gps {
    height: 30px;
    display: block;
    margin: 0 auto;
}

.rota input[type='text'] {
    background: #cecece;
    margin: 0 auto;
    width: 80%;
    display: block;
    border: none;
    border-radius:5px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
}

#inicio h2 {
    text-align: center;
    color: #8cc739;
    font-size: 0.9em;
}

.localizacao {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 1.0em;
	text-align: center;
	
    margin: 0 auto;
}
.dicas {width: 80%;
	display: block;
	font-size: 0.9em;
	margin: 0 auto; text-align: center}

.graus {
    color: #fff;
    font-size: 2.4em
}

.cadastro {
    width: 80%;
    border: none;
    margin: 0 auto;
}

.logo {
    margin: 200px auto;
}

.btn-facebook {
    width: 80%;
    height: 30px;
    padding-top: 20px;
}

.inpult-verde {
    border-bottom: 1px solid #8cc739;
    border-top: none;
    font-size: 1.0em;
    border-left: none;
    border-right: none;
    text-align: center;
    width: 100%;
    line-height: 40px;
    font-family: 'linotte-semibolduploaded_file';
}

#inicial p {
    color: #fff;
    font-size: 1.0em;
    text-align: center;
}
#inicial { margin: 0 22%; display: block}

.logo-big {
    margin-top: 230px;
}

.btn-login {
    text-decoration: none;
    width: 84%;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
	color: #5b8715;
	background: #fff;
    height: 40px;
    margin-top: 25px;
	border: none;
	text-decoration: none;
    font-size: 1.0em;
    font-family: 'linotte-semibolduploaded_file';
}

.btn-facebook {
    width: 68%;
    margin: 0 auto;
    display: block;
    background: #8cc739;
    border-radius: 100px;
    color: #fff;
    height: 30px;
    margin-top: 25px;
    border: none;
    text-align: center;
    padding-top: 12px;
    font-size: 0.9em;
    text-decoration: none;
    font-size: 1.0em;
    font-family: 'linotte-semibolduploaded_file';
}
.cler {clear: both!important;}
.alerta {
    width: 100%;
    height: 120px;
	background: #8cc739;
	bottom: 0;
	position: absolute;
}

.alerta p {
    color: #fff;
    font-size: 1.0em;
    text-align: center;
    padding-top: 20px;
}
.P-gren {color: #5b8715; text-align: center}

.infor {
    width: 70%;
    display: block;
	margin: 10px auto;
	color: #5b8715;
}

.bloco img {
    float: left
}

.bloco {
    height: 70px;
    width: 70%;
    margin: 0 auto;
    border: none;
    display: block;
	background: none;
	
}

#segundo {
	margin: 30px auto;
	display: block;
	width: 100%;
	

}
.info {
	width: 90%;
	margin-left: 1%;
	display: block;
}

.bloco p {
    margin-top: 8px;
	float: right;
	color: #5b8715;
}

.Activo p {
    margin-top: 8px;
    float: right;
}

.Activo {
    font-weight: bold;
    background: #f0f0f0;
    border-radius: 10px;
    border: 1px solid #cecece;
}

#segundo p {
    text-align: center;
	font-size: 1.0em;
	color: #5b8715;

}
#segundo output{color: #5b8715; font-size: 1.0em; float: right; font-size: 1.3em; margin-top:10px;}
.topo-logo {
    margin-top: 8px;
    text-align: center;
}

.strong {
    font-weight: bolder;
    text-align: center;
    font-size: 1.2em;
}

.img-responsive {
    width: 200px;
}
.btn-verde {
	width: 70%;
	display: block;
	background: #fff;
	border-radius: 20px;
	height: 44px;
	text-align: center;
	padding-top: 18px;
	margin: 110px auto;
	font-size: 26px;
	font-weight: bolder;
}

.btn-verde a {
	color: #5b8715;
	text-decoration: none;
}

.logo-big {
	margin-top: 220px;
}

.logo-big p {
	color: #fff;
	text-align: center;
	font-size: 1.2em;
}